html {
  // font-size: 10px;
  font-size: 62.5%; // 10px
}

#box-1 {
  font-size: 3rem; // 1em = 20px;
  width: 20rem;
  background-color: #aaa;
}

#box-2 {
  font-size: 2rem;
  width: 20rem; //
  background-color: #777;
}
